<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   
   <extension
         id="icat_manager_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="icat-manager :: product">
         <property
               name="appName"
               value="icat-manager :: product">
         </property>
         <property
               name="applicationXMI"
               value="icat-manager.core/Application.e4xmi">
         </property>
      </product>
   </extension>

</plugin>
